Weather_Pi_20201106_2243.json
[{"id":"94f91a1f.ebe0d","type":"tab","label":"Weather Station","disabled":false,"info":""},{"id":"40ef1263.e39154","type":"debug","z":"94f91a1f.ebe0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":40,"wires":[]},{"id":"2b21f3.ea18b60e","type":"inject","z":"94f91a1f.ebe0d","name":"30 sec","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":40,"wires":[["758188b5.8d6b7"]]},{"id":"e121c0a6.b61798","type":"rpi-gpio in","z":"94f91a1f.ebe0d","name":"5 Anemometer","pin":"29","intype":"up","debounce":"1","read":false,"x":100,"y":160,"wires":[["5f79cc80.f354c4"]]},{"id":"aad8a32b.d4f97","type":"inject","z":"94f91a1f.ebe0d","name":"10sec","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":300,"wires":[["1830d159.b15867"]]},{"id":"4d520abd.7fa19c","type":"rpi-gpio in","z":"94f91a1f.ebe0d","name":"6 Rain Bucket","pin":"31","intype":"up","debounce":"25","read":false,"x":90,"y":560,"wires":[["fc6ea1c0.cfcab8","a88d8688.e9c74"]]},{"id":"5f79cc80.f354c4","type":"switch","z":"94f91a1f.ebe0d","name":"1 only","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":200,"wires":[["6e7648ea.9a8678"]]},{"id":"4a2a365a.0b702","type":"function","z":"94f91a1f.ebe0d","name":"Maths for meters per second","func":"count = Math.round(msg.payload)//2 counts per rotation\nvar circumference = .2827 //half circumference //.5655 //Circumference in M\nvar speed = +((circumference*count).toFixed(2));//2 decimal places\nmsg.payload = speed //Meters per Second\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":200,"wires":[["878b8426.360de8"]],"info":"import math\n\nradius_cm = 9.0\nwind_interval = 5\nwind_count = 17\n\ncircumference_cm = (2 * math.pi) * radius_cm\nrotations = count / 2.0\ndist_cm = circumference_cm * rotations\nspeed = dist_cm / wind_interval\n\nprint(speed)"},{"id":"fc6ea1c0.cfcab8","type":"switch","z":"94f91a1f.ebe0d","name":"0 only","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":560,"wires":[["c6c3d7a2.f40898"]]},{"id":"8f79bf07.1fef6","type":"debug","z":"94f91a1f.ebe0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":600,"wires":[]},{"id":"d486460f.c6ce98","type":"function","z":"94f91a1f.ebe0d","name":"mm for every bucket","func":"rainfall = 0.2794 //bucket capacity in mm\nmsg.payload = rainfall //total rainfall\nmsg.payload = {\n    rainfall: msg.payload,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":560,"wires":[["8f79bf07.1fef6","63a6f705.9853f","7d0925d0.33630c","4e94db8b.331e1c"]],"info":"import math\n\nradius_cm = 9.0\nwind_interval = 5\nwind_count = 17\n\ncircumference_cm = (2 * math.pi) * radius_cm\nrotations = count / 2.0\ndist_cm = circumference_cm * rotations\nspeed = dist_cm / wind_interval\n\nprint(speed)"},{"id":"c6c3d7a2.f40898","type":"change","z":"94f91a1f.ebe0d","name":"set to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":560,"wires":[["d486460f.c6ce98","43353b7d.19d264"]]},{"id":"fc54a14b.5fff6","type":"function","z":"94f91a1f.ebe0d","name":"Tag Wind_Speed","func":"msg.payload = {\n    wind_speed: msg.payload,\n};\nreturn msg","outputs":1,"noerr":0,"x":870,"y":240,"wires":[["39e392ac.b569ce","df3efadc.e01578"]]},{"id":"bef5fae5.ff15f","type":"debug","z":"94f91a1f.ebe0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":230,"y":40,"wires":[]},{"id":"3a5eecb.c926714","type":"mqtt out","z":"94f91a1f.ebe0d","name":"","topic":"weather_station","qos":"","retain":"","broker":"cbc971f8.e408","x":240,"y":80,"wires":[]},{"id":"239eebf8.bcf674","type":"function","z":"94f91a1f.ebe0d","name":"Maths Calc","func":"x = Math.abs(msg.payload/1024);//1024 values\ny = Math.abs(x*3.3)//volts\nz =y.toFixed(1);\nmsg.payload = parseFloat(z);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":380,"wires":[["ce1ef2ad.ce3958","62eb352e.7c115c"]]},{"id":"a9be854e.8a08e","type":"change","z":"94f91a1f.ebe0d","name":"Cardinal","rules":[{"t":"change","p":"payload","pt":"msg","from":"0.4","fromt":"num","to":"North","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1.4","fromt":"num","to":"NNE","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1.2","fromt":"num","to":"North East","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"2.8","fromt":"num","to":"ENE","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"2.7","fromt":"num","to":"East","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"2.9","fromt":"num","to":"ESE","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"2.2","fromt":"num","to":"South East","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"2.5","fromt":"num","to":"SSE","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1.8","fromt":"num","to":"South","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"2","fromt":"num","to":"SSW","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0.7","fromt":"num","to":"South West","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0.8","fromt":"num","to":"WSW","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0.1","fromt":"num","to":"West","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0.3","fromt":"num","to":"WNW","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0.2","fromt":"num","to":"North West","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0.6","fromt":"num","to":"NNW","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":340,"wires":[["b58845cb.6773b"]]},{"id":"9edf9bd3.d7a1b","type":"change","z":"94f91a1f.ebe0d","name":"Compass","rules":[{"t":"change","p":"payload","pt":"msg","from":"0.4","fromt":"num","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"1.4","fromt":"num","to":"22.5","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"1.2","fromt":"num","to":"45","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"2.8","fromt":"num","to":"67.5","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"2.7","fromt":"num","to":"90","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"2.9","fromt":"num","to":"112.5","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"2.2","fromt":"num","to":"135","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"2.5","fromt":"num","to":"157.5","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"1.8","fromt":"num","to":"180","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"2","fromt":"num","to":"202.5","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"0.7","fromt":"num","to":"225","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"0.8","fromt":"num","to":"247.5","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"0.1","fromt":"num","to":"270","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"0.3","fromt":"num","to":"292.5","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"0.2","fromt":"num","to":"315","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"0.6","fromt":"num","to":"337.5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":420,"wires":[["61541c2a.520cac"]]},{"id":"b58845cb.6773b","type":"function","z":"94f91a1f.ebe0d","name":"tag cardinal","func":"msg.payload = {\n    cardinal: msg.payload,\n};\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":340,"wires":[["2b8dc966.601c1e"]]},{"id":"ba56ea48.2d6138","type":"function","z":"94f91a1f.ebe0d","name":"set for dash","func":"var msg = {\n    \"payload\": {\n        \"speed\":msg.payload.compass,\n        //\"speed\":Math.round(msg.payload.wind_speed*2.237),\n        //\"speed_unit\":\"MPH\",\n        \"degrees\":msg.payload.compass,\n        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":420,"wires":[["646249a2.40f1b8"]],"info":"https://flows.nodered.org/flow/b9a57175ac5a5e240c9916bcce136dca"},{"id":"61541c2a.520cac","type":"function","z":"94f91a1f.ebe0d","name":"tag compass","func":"msg.payload = {\n    compass: msg.payload,\n};\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":420,"wires":[["2b8dc966.601c1e"]]},{"id":"2b8dc966.601c1e","type":"join","z":"94f91a1f.ebe0d","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":750,"y":380,"wires":[["ba56ea48.2d6138","a0a902a9.51e788"]]},{"id":"a0a902a9.51e788","type":"rbe","z":"94f91a1f.ebe0d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":890,"y":380,"wires":[["3252680b.a1b148","6bdd78bf.92d9e8"]]},{"id":"878b8426.360de8","type":"rbe","z":"94f91a1f.ebe0d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":690,"y":200,"wires":[["fc54a14b.5fff6","593715e8.75a0bc"]]},{"id":"39e392ac.b569ce","type":"link out","z":"94f91a1f.ebe0d","name":"Wind Speed","links":["874e69ca.e4bfb8"],"x":1090,"y":240,"wires":[],"l":true},{"id":"874e69ca.e4bfb8","type":"link in","z":"94f91a1f.ebe0d","name":"Output","links":["39e392ac.b569ce","3252680b.a1b148","63a6f705.9853f","b0f21a2b.16b0f8","3ea80d6b.9c3e02","d4ff2680.a2b438","703b58c6.9dd6d8","16c646c.1283b39","8598108.361b57"],"x":70,"y":60,"wires":[["bef5fae5.ff15f","3a5eecb.c926714"]],"l":true},{"id":"3252680b.a1b148","type":"link out","z":"94f91a1f.ebe0d","name":"Wind Direction","links":["874e69ca.e4bfb8"],"x":1080,"y":380,"wires":[],"l":true},{"id":"df3efadc.e01578","type":"debug","z":"94f91a1f.ebe0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":200,"wires":[]},{"id":"6bdd78bf.92d9e8","type":"debug","z":"94f91a1f.ebe0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1070,"y":320,"wires":[]},{"id":"4e49c3af.51957c","type":"inject","z":"94f91a1f.ebe0d","d":true,"name":"Reset Counter Hour","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1580,"y":640,"wires":[["73f7f207.213bd4"]]},{"id":"73f7f207.213bd4","type":"function","z":"94f91a1f.ebe0d","d":true,"name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1790,"y":640,"wires":[["2d0549ad.18f976"]]},{"id":"63a6f705.9853f","type":"link out","z":"94f91a1f.ebe0d","name":"Rainfall","links":["874e69ca.e4bfb8"],"x":1100,"y":560,"wires":[],"l":true},{"id":"12975f50.40ae89","type":"function","z":"94f91a1f.ebe0d","d":true,"name":"cumulative","func":"count = Math.round(msg.count)\nvar bucket = 0.2794 //bucket capacity in mm\nrainfall = Math.abs(count*bucket)\nmsg.payload = rainfall //total rainfall\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2110,"y":640,"wires":[["94874919.d8276","bdae2828.38fcc8"]],"info":"import math\n\nradius_cm = 9.0\nwind_interval = 5\nwind_count = 17\n\ncircumference_cm = (2 * math.pi) * radius_cm\nrotations = count / 2.0\ndist_cm = circumference_cm * rotations\nspeed = dist_cm / wind_interval\n\nprint(speed)"},{"id":"5542628a.d2572c","type":"inject","z":"94f91a1f.ebe0d","d":true,"name":"Reset Counter 24 hours","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1590,"y":720,"wires":[["b9aa58b0.bc0e28"]]},{"id":"b9aa58b0.bc0e28","type":"function","z":"94f91a1f.ebe0d","d":true,"name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1790,"y":720,"wires":[["e5162760.46681"]]},{"id":"2ecea1e1.ba6a86","type":"function","z":"94f91a1f.ebe0d","d":true,"name":"cumulative","func":"count = Math.round(msg.count)\nvar bucket = 0.2794 //bucket capacity in mm\nrainfall = Math.abs(count*bucket)\nmsg.payload = rainfall //total rainfall\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2110,"y":720,"wires":[["1a9c9ad1.ca049d","a0f776cd.666528"]],"info":"import math\n\nradius_cm = 9.0\nwind_interval = 5\nwind_count = 17\n\ncircumference_cm = (2 * math.pi) * radius_cm\nrotations = count / 2.0\ndist_cm = circumference_cm * rotations\nspeed = dist_cm / wind_interval\n\nprint(speed)"},{"id":"bdae2828.38fcc8","type":"function","z":"94f91a1f.ebe0d","d":true,"name":"Tag RainFall_Hour","func":"msg.payload = {\n    rainfall_hour: msg.payload,\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2310,"y":640,"wires":[["b0f21a2b.16b0f8"]]},{"id":"b0f21a2b.16b0f8","type":"link out","z":"94f91a1f.ebe0d","d":true,"name":"Rainfall_Hour","links":["874e69ca.e4bfb8"],"x":2510,"y":640,"wires":[],"l":true},{"id":"a0f776cd.666528","type":"function","z":"94f91a1f.ebe0d","d":true,"name":"Tag RainFall_24hr","func":"msg.payload = {\n    rainfall_24hours: msg.payload,\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2330,"y":720,"wires":[["3ea80d6b.9c3e02"]]},{"id":"3ea80d6b.9c3e02","type":"link out","z":"94f91a1f.ebe0d","d":true,"name":"Rainfall_24hr","links":["874e69ca.e4bfb8"],"x":2530,"y":720,"wires":[],"l":true},{"id":"78b51939.1b5a08","type":"inject","z":"94f91a1f.ebe0d","d":true,"name":"Clear","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":2130,"y":680,"wires":[["94874919.d8276"]]},{"id":"6208595b.1b67e8","type":"inject","z":"94f91a1f.ebe0d","d":true,"name":"Clear","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":2130,"y":760,"wires":[["1a9c9ad1.ca049d"]]},{"id":"a88d8688.e9c74","type":"debug","z":"94f91a1f.ebe0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":170,"y":600,"wires":[]},{"id":"263c2010.5be09","type":"function","z":"94f91a1f.ebe0d","name":"Round to 2 Dec Place","func":"var x = parseFloat(msg.payload.humidity);\nx = Math.round(x*100)/100;\nmsg.payload.humidity  = x;\n\nvar y = parseFloat(msg.payload.pressure_hPa);\ny = Math.round(y*100)/100;\nmsg.payload.pressure_hPa = y;\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":80,"wires":[["dcbf5013.9b844"]]},{"id":"dcbf5013.9b844","type":"rbe","z":"94f91a1f.ebe0d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":870,"y":80,"wires":[["40ef1263.e39154","d4ff2680.a2b438"]]},{"id":"d4ff2680.a2b438","type":"link out","z":"94f91a1f.ebe0d","name":"TempHumdPress","links":["874e69ca.e4bfb8"],"x":1070,"y":80,"wires":[],"l":true},{"id":"cce95813.01fe2","type":"file","z":"94f91a1f.ebe0d","name":"","filename":"rain.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":960,"y":540,"wires":[[]]},{"id":"7d0925d0.33630c","type":"mqtt out","z":"94f91a1f.ebe0d","name":"","topic":"weather_station_rain","qos":"1","retain":"","broker":"cbc971f8.e408","x":820,"y":580,"wires":[]},{"id":"75eab3da.8bd5c4","type":"debug","z":"94f91a1f.ebe0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":40,"wires":[]},{"id":"ce1ef2ad.ce3958","type":"switch","z":"94f91a1f.ebe0d","name":"Wanted Only","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0.4","vt":"num"},{"t":"eq","v":"1.4","vt":"num"},{"t":"eq","v":"1.2","vt":"num"},{"t":"eq","v":"2.8","vt":"num"},{"t":"eq","v":"2.7","vt":"num"},{"t":"eq","v":"2.9","vt":"num"},{"t":"eq","v":"2.2","vt":"num"},{"t":"eq","v":"2.5","vt":"num"},{"t":"eq","v":"1.8","vt":"num"},{"t":"eq","v":"2.0","vt":"num"},{"t":"eq","v":"0.7","vt":"num"},{"t":"eq","v":"0.8","vt":"num"},{"t":"eq","v":"0.1","vt":"num"},{"t":"eq","v":"0.3","vt":"num"},{"t":"eq","v":"0.2","vt":"num"},{"t":"eq","v":"0.6","vt":"num"}],"checkall":"true","repair":false,"outputs":16,"x":370,"y":380,"wires":[["a9be854e.8a08e","9edf9bd3.d7a1b"],["a9be854e.8a08e","9edf9bd3.d7a1b"],["a9be854e.8a08e","9edf9bd3.d7a1b"],["a9be854e.8a08e","9edf9bd3.d7a1b"],["a9be854e.8a08e","9edf9bd3.d7a1b"],["a9be854e.8a08e","9edf9bd3.d7a1b"],["a9be854e.8a08e","9edf9bd3.d7a1b"],["a9be854e.8a08e","9edf9bd3.d7a1b"],["a9be854e.8a08e","9edf9bd3.d7a1b"],["a9be854e.8a08e","9edf9bd3.d7a1b"],["a9be854e.8a08e","9edf9bd3.d7a1b"],["a9be854e.8a08e","9edf9bd3.d7a1b"],["a9be854e.8a08e","9edf9bd3.d7a1b"],["a9be854e.8a08e","9edf9bd3.d7a1b"],["a9be854e.8a08e","9edf9bd3.d7a1b"],["a9be854e.8a08e","9edf9bd3.d7a1b"]]},{"id":"4e94db8b.331e1c","type":"change","z":"94f91a1f.ebe0d","name":"add timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    'state': payload,\t    'timestamp': $millis()\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":540,"wires":[["cce95813.01fe2"]]},{"id":"56643a9.98b0f44","type":"exec","z":"94f91a1f.ebe0d","d":true,"command":"python /home/pi/uv-reading_json.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1830,"y":940,"wires":[["7eb7c521.91c214"],[],[]]},{"id":"1d0ed849.63878","type":"inject","z":"94f91a1f.ebe0d","name":"15 minutes","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":660,"wires":[["4994850c.a34ddc"]]},{"id":"fa10639e.a4f098","type":"debug","z":"94f91a1f.ebe0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":490,"y":700,"wires":[]},{"id":"7eb7c521.91c214","type":"json","z":"94f91a1f.ebe0d","d":true,"name":"","property":"payload","action":"","pretty":false,"x":2070,"y":940,"wires":[[]]},{"id":"78f222fd.b450e4","type":"mqtt out","z":"94f91a1f.ebe0d","name":"","topic":"uv_test","qos":"","retain":"","broker":"cbc971f8.e408","x":660,"y":660,"wires":[]},{"id":"39f33052.c81498","type":"rbe","z":"94f91a1f.ebe0d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":490,"y":660,"wires":[["78f222fd.b450e4"]]},{"id":"a7dc98de.16c468","type":"inject","z":"94f91a1f.ebe0d","name":"30sec","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":800,"wires":[["9aca100.f6373f","5d38d6d2.0ded9"]]},{"id":"ded87fa3.2d0dd8","type":"debug","z":"94f91a1f.ebe0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1070,"y":760,"wires":[]},{"id":"9cb238ac.61344","type":"rpi-gpio in","z":"94f91a1f.ebe0d","d":true,"name":"","pin":"40","intype":"up","debounce":"25","read":true,"x":300,"y":880,"wires":[["4310cd91.55299c","b4bbeeec.6c0e3"]]},{"id":"ff1f7d9c.4aa99","type":"mqtt out","z":"94f91a1f.ebe0d","name":"","topic":"percipitation","qos":"","retain":"","broker":"cbc971f8.e408","x":1070,"y":820,"wires":[]},{"id":"6a7a275.75f5158","type":"function","z":"94f91a1f.ebe0d","name":"Tag Percipitation","func":"msg.payload = {\n    percipitation: msg.payload,\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":820,"wires":[["b7b71e69.3d4a2","44b6e2e4.556fe4"]]},{"id":"d3aad6fe.8b1d98","type":"range","z":"94f91a1f.ebe0d","minin":"0","maxin":"1024","minout":"100","maxout":"0","action":"scale","round":true,"property":"payload","name":"","x":500,"y":820,"wires":[["6a7a275.75f5158"]]},{"id":"cb12e28c.b651b","type":"function","z":"94f91a1f.ebe0d","name":"Tag Percipitation_boolean","func":"msg.payload = {\n    percipitation_boolean_: msg.payload,\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":860,"wires":[["a35bd3d8.138458","ff1f7d9c.4aa99"]]},{"id":"a35bd3d8.138458","type":"debug","z":"94f91a1f.ebe0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":880,"wires":[]},{"id":"b7b71e69.3d4a2","type":"rbe","z":"94f91a1f.ebe0d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":890,"y":820,"wires":[["ff1f7d9c.4aa99","ded87fa3.2d0dd8"]]},{"id":"ccadcccd.92d1e","type":"debug","z":"94f91a1f.ebe0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":900,"wires":[]},{"id":"4310cd91.55299c","type":"switch","z":"94f91a1f.ebe0d","name":"0 only","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":860,"wires":[["4e9c6f1b.1f791"]]},{"id":"4e9c6f1b.1f791","type":"change","z":"94f91a1f.ebe0d","name":"set to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":860,"wires":[["cb12e28c.b651b","ccadcccd.92d1e"]]},{"id":"b4bbeeec.6c0e3","type":"switch","z":"94f91a1f.ebe0d","name":"1 only","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":900,"wires":[["1989a049.be1ae8"]]},{"id":"1989a049.be1ae8","type":"change","z":"94f91a1f.ebe0d","name":"set to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":900,"wires":[["cb12e28c.b651b","ccadcccd.92d1e"]]},{"id":"593715e8.75a0bc","type":"ui_gauge","z":"94f91a1f.ebe0d","name":"","group":"68e519c5.988d7","order":4,"width":6,"height":5,"gtype":"gage","title":"Wind Speed","label":"m/s","format":"{{value}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":200,"wires":[]},{"id":"94874919.d8276","type":"ui_chart","z":"94f91a1f.ebe0d","d":true,"name":"","group":"68e519c5.988d7","order":5,"width":6,"height":5,"label":"RainFall Hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2300,"y":680,"wires":[[]]},{"id":"1a9c9ad1.ca049d","type":"ui_chart","z":"94f91a1f.ebe0d","d":true,"name":"","group":"68e519c5.988d7","order":6,"width":6,"height":5,"label":"RainFall 24 Hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2310,"y":760,"wires":[[]]},{"id":"646249a2.40f1b8","type":"ui_template","z":"94f91a1f.ebe0d","group":"68e519c5.988d7","name":"Wind","order":1,"width":4,"height":4,"format":"<!--\npass msg.payload.degrees, msg.payload.speed, msg.payload.speed_unit\n-->\n<script>\n    // Watch the incoming message and convert the degrees to a human readable compass direction\n    (function(scope){\n        scope.$watch('msg', function(msg) {\n            if(typeof(msg) === \"object\"){\n                // Convert the degrees to cardinal directions\n                var deg = msg.payload.degrees;\n                var dirs = [\"N\",\"NNE\",\"NE\",\"ENE\",\"E\",\"ESE\",\"SE\",\"SSE\",\"S\",\"SSW\",\"SW\",\"WSW\",\"W\",\"WNW\",\"NW\",\"NNW\",\"N\"];\n                var idx = Math.round(deg*(dirs.length-1)/360);\n                scope.direction = dirs[idx];\n                \n                \n                // Keep track of the highest speed value, giving it 40 as a rough starting point.\n                // Works okay for MPH and KTS, but KMH will show purple at a lower speed than the rest\n                scope.max_val = (msg.payload.speed > scope.max_val ? msg.payload.speed : 10);\n                \n                scope.p_speed = msg.payload.speed;\n                scope.p_max_val = scope.max_val;\n                var low_colors = [\n                    '#FFFFFF', // white\n                    '#d6f7ff', // light blue\n                    '#85ffd2', // blue green\n                    '#61ff6e' // green 10mph\n                    ];\n                var high_colors = [\n                    '#61ff6e', // green 10mph\n                    '#d5ff61', // green yellow\n                    '#fffc61', // yellow\n                    '#ffe561', // yellow orange 20mph\n                    '#ffcd61', // orange\n                    '#ffad61', // orange red\n                    '#ff7661', // red\n                    '#ff61dd', // red purple\n                    '#e261ff' // purple\n                ];\n                \n                if(msg.payload.speed <= 1){\n                    scope.color = low_colors[Math.round(msg.payload.speed*(low_colors.length-1)/10)];\n                }else{\n                    scope.color = high_colors[Math.round(msg.payload.speed*(high_colors.length-1) / scope.max_val)];\n                }\n                \n                //$(\".compass_container\").css(\"background-color\",scope.color);\n            }\n    \t});\n    })(scope);\n    \n    // Hacks to improve the layout and make it scale\n    $(document).ready(function(){\n        setTimeout(function () {\n            // Remove the auto scrolling from the parent node\n            $(\".compass_container\").parent().css(\"overflow\",\"hidden\");\n        \n            // Adjust the color to match the theme base color by looking up the toolbar header background color;\n            $(\".compass_container .triangle\").css(\"border-bottom-color\",$(\"md-toolbar\").css(\"background-color\"));\n        \n            // Scale the compass into the box that it's being rendered in\n            // This CSS hack helps make sure the line & font size scales appropriately\n            // Based on the node's grid size\n            $(\".compass_container\").each(function(k,v){\n                var scaleWidth = $(v).parent().width() / $(v).width();\n                var scaleHeight = $(v).parent().height() / $(v).height();\n        \n                var translateX = ($(v).width() - $(v).parent().width()) / 2;\n                var translateY = ($(v).height() - $(v).parent().height()) / 2;\n        \n                $(v).css(\"transform\",\"translate(-\"+translateX+\"px,-\"+translateY+\"px) scale(\"+scaleWidth+\",\"+scaleHeight+\") \");\n            });\n            \n            $(\".compass_container\").css(\"display\",\"block\"); // Unhide it now that it's resized\n        }, 1000);\n    });\n</script>\n<style>\n     @import url(https://fonts.googleapis.com/css?family=Dosis:200,400,500,600);\n     \n     .compass_container{\n        transition: 1s ease-in-out;\n        position: relative;\n        display: none;\n        width: 500px;\n        height: 500px;\n        border-radius: 100%;\n        font-family: 'Dosis';\n        font-size: 80px;\n        box-shadow: inset 0px 0px 0px 30px #777; \n        background-color: {{color}};\n     }\n     \n     .compass_container .compass_header{\n        font-weight: bold;\n        position: absolute;\n        text-align: center;\n        width: 100%;\n        font-size: 75%;\n        top: -15px\n     }\n     .compass_container .text_container{\n        height: 100%;\n        width: 100%;\n        padding: 0px;\n        display: block;\n        border-radius: 100%;\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n        align-items: center;\n     }\n     \n     .compass_container .arrow{\n        transition: 1s ease-in-out;\n        width: 100%;\n        height: 100%;\n        display: block;\n        position: absolute;\n        top: 0;\n     }\n     \n     .compass_container .arrow .triangle{\n        width: 0;\n\t\theight: 0;\n\t\tborder-left: 45px solid transparent;\n\t\tborder-right: 45px solid transparent;\n\t\tborder-bottom: 90px solid black;\n\t\tposition: absolute;\n\t\ttop: -15px;\n\t\tleft: 50%;\n\t\tmargin-left: -45px;\n\t\tz-index: 99;\n     }\n</style>\n\n<div class=\"compass_container\" style=\"\">\n    <div class=\"compass_header\">N</div>\n  \n    <div class=\"nr-dashboard-text text_container\">\n    \n        <div class=\"direction\" style=\"font-size: 120%\">{{direction}}</div>\n        <div style=\"flex-direction: row; font-weight: bold;\">\n            <span style=\"font-size: 100%\">{{msg.payload.speed}}</span>\n            <span style=\"font-size: 75%\">{{msg.payload.speed_unit}}</span>\n        </div>\n    </div>\n    <div class=\"arrow\" style=\"transform: rotate({{msg.payload.degrees}}deg);\">\n      <div class=\"triangle\"></div>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1090,"y":420,"wires":[[]],"info":"https://flows.nodered.org/flow/b9a57175ac5a5e240c9916bcce136dca"},{"id":"1830d159.b15867","type":"pimcp3008","z":"94f91a1f.ebe0d","name":"MCP3008 A0 - Direction","dev":"3008","pin":0,"dnum":"0","bus":"0","x":150,"y":340,"wires":[["239eebf8.bcf674"]]},{"id":"a607e48.0607a98","type":"pimcp3008","z":"94f91a1f.ebe0d","name":"","dev":"3008","pin":"2","dnum":0,"bus":0,"x":350,"y":820,"wires":[["d3aad6fe.8b1d98"]]},{"id":"4994850c.a34ddc","type":"python-function","z":"94f91a1f.ebe0d","name":"Python UV-Reading","func":"import time\nimport veml6075\nimport smbus\nimport json\nbus = smbus.SMBus(1)\n\n# Create VEML6075 instance and set up\nuv_sensor = veml6075.VEML6075(i2c_dev=bus)\nuv_sensor.set_shutdown(False)\nuv_sensor.set_high_dynamic_range(False)\nuv_sensor.set_integration_time('100ms')\n\n# Do the Thing\nuva,uvb = uv_sensor.get_measurements()\nuv_comp1, uv_comp2 = uv_sensor.get_comparitor_readings()\nuv_indices = uv_sensor.convert_to_index(uva, uvb, uv_comp1, uv_comp2)\n\nx = {\n    \"uva\": uva,\n    \"uvb\": uvb,\n    \"comp1\":uv_comp1,\n    \"comp2\":uv_comp2,\n    \"uva_index\":round(uv_indices[0],2),\n    \"uvb_index\":round(uv_indices[1],2),\n    \"avg_uv_index\":round(uv_indices[2],2)\n}\n\n# Convert to JSON: \n## y = json.dumps (x)\n#msg.payload = x\ny={'payload':x}\n\nreturn y","outputs":1,"x":310,"y":660,"wires":[["39f33052.c81498","fa10639e.a4f098"]]},{"id":"2d0549ad.18f976","type":"counter","z":"94f91a1f.ebe0d","d":true,"name":"count","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":1970,"y":640,"wires":[["12975f50.40ae89"]]},{"id":"e5162760.46681","type":"counter","z":"94f91a1f.ebe0d","d":true,"name":"count","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":1950,"y":720,"wires":[["2ecea1e1.ba6a86"]]},{"id":"758188b5.8d6b7","type":"Bme280","z":"94f91a1f.ebe0d","name":"","bus":"1","address":"0x76","topic":"bme280","extra":false,"x":500,"y":80,"wires":[["263c2010.5be09","75eab3da.8bd5c4","3c1726f3.b5b32a"]]},{"id":"6e7648ea.9a8678","type":"msg-speed","z":"94f91a1f.ebe0d","name":"","frequency":"sec","estimation":false,"ignore":false,"x":290,"y":200,"wires":[["4a2a365a.0b702"],[]]},{"id":"288f37f.77a1048","type":"exec","z":"94f91a1f.ebe0d","command":"python /home/pi/noise_json.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":350,"y":980,"wires":[["76fb33f8.b958a4"],[],[]]},{"id":"64ab4731.0ca3f8","type":"debug","z":"94f91a1f.ebe0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":770,"y":1020,"wires":[]},{"id":"76fb33f8.b958a4","type":"json","z":"94f91a1f.ebe0d","name":"","property":"payload","action":"","pretty":false,"x":570,"y":980,"wires":[["64ab4731.0ca3f8","1ad694e1.aaf8e3"]]},{"id":"c966ff12.192b7","type":"inject","z":"94f91a1f.ebe0d","name":"15sec","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":980,"wires":[["288f37f.77a1048"]]},{"id":"1ad694e1.aaf8e3","type":"mqtt out","z":"94f91a1f.ebe0d","name":"","topic":"noise","qos":"1","retain":"","broker":"cbc971f8.e408","x":750,"y":960,"wires":[]},{"id":"543c9a0b.3205c4","type":"rpi-gpio out","z":"94f91a1f.ebe0d","name":"36 - GPO16 Percipitation","pin":"36","set":true,"level":"0","freq":"","out":"out","x":650,"y":760,"wires":[]},{"id":"9ad78139.279f6","type":"inject","z":"94f91a1f.ebe0d","name":"1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1790,"y":1000,"wires":[[]]},{"id":"a758ff22.c2a6d","type":"inject","z":"94f91a1f.ebe0d","name":"0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":1790,"y":1040,"wires":[[]]},{"id":"9aca100.f6373f","type":"function","z":"94f91a1f.ebe0d","name":"1","func":"msg.payload = \n    1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":760,"wires":[["543c9a0b.3205c4","ba480dcb.813318"]]},{"id":"ca394df3.8cee18","type":"debug","z":"94f91a1f.ebe0d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2060,"y":1000,"wires":[]},{"id":"c074452a.fd37e","type":"inject","z":"94f91a1f.ebe0d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1800,"y":1080,"wires":[[]]},{"id":"44b6e2e4.556fe4","type":"debug","z":"94f91a1f.ebe0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":870,"y":760,"wires":[]},{"id":"45619e42.2f9f88","type":"function","z":"94f91a1f.ebe0d","name":"0","func":"msg.payload = \n    0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":780,"wires":[["543c9a0b.3205c4"]]},{"id":"489cad6b.69f304","type":"inject","z":"94f91a1f.ebe0d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1800,"y":1120,"wires":[[]]},{"id":"ba480dcb.813318","type":"delay","z":"94f91a1f.ebe0d","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":780,"wires":[["45619e42.2f9f88"]]},{"id":"5d38d6d2.0ded9","type":"delay","z":"94f91a1f.ebe0d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":840,"wires":[["a607e48.0607a98"]]},{"id":"66f3641a.29bd9c","type":"ui_gauge","z":"94f91a1f.ebe0d","name":"","group":"68e519c5.988d7","order":4,"width":6,"height":5,"gtype":"gage","title":"Temperature","label":"m/s","format":"{{value}}","min":"-5","max":"45","colors":["#00fbff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":140,"wires":[]},{"id":"3c1726f3.b5b32a","type":"function","z":"94f91a1f.ebe0d","name":"Filter Temp","func":"msg.payload = msg.payload.temperature_C.toString();\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":120,"wires":[["325a1c.9b7955e4","66f3641a.29bd9c"]]},{"id":"325a1c.9b7955e4","type":"debug","z":"94f91a1f.ebe0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1050,"y":120,"wires":[]},{"id":"81ba67b1.9114a8","type":"inject","z":"94f91a1f.ebe0d","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"60","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":130,"y":1100,"wires":[["f8329a2.feedb68"]]},{"id":"4f7af577.130dac","type":"function","z":"94f91a1f.ebe0d","name":"Humidity","func":"return { payload : msg.humidity };","outputs":1,"noerr":0,"x":460,"y":1060,"wires":[["14c510fe.9b9eff"]]},{"id":"bbe5e5b.4aa8b18","type":"mqtt out","z":"94f91a1f.ebe0d","name":"","topic":"shed","qos":"","retain":"","broker":"cbc971f8.e408","x":950,"y":1140,"wires":[]},{"id":"2db25ea1.6727e2","type":"function","z":"94f91a1f.ebe0d","name":"Tag temp/humd","func":"msg.payload = {\n    //date: new Date().toString(),\n    temperature: parseFloat(msg.payload),\n    humidity: parseFloat(msg.humidity)\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1140,"wires":[["4984c5e7.2375ec","bbe5e5b.4aa8b18"]],"info":"From Andy"},{"id":"9700bb62.825068","type":"comment","z":"94f91a1f.ebe0d","name":"Shed Sensor","info":"","x":110,"y":1060,"wires":[]},{"id":"4984c5e7.2375ec","type":"debug","z":"94f91a1f.ebe0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":690,"y":1100,"wires":[]},{"id":"f8329a2.feedb68","type":"rpi-dht22","z":"94f91a1f.ebe0d","name":"","topic":"rpi-dht22","dht":"22","pintype":1,"pin":"7","x":280,"y":1100,"wires":[["659e3e47.ce43c","4f7af577.130dac","2db25ea1.6727e2","b6b33390.1998"]]},{"id":"659e3e47.ce43c","type":"ui_gauge","z":"94f91a1f.ebe0d","name":"","group":"539ac07a.3da428","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":"-5","max":"45","colors":["#00ccff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":1100,"wires":[]},{"id":"14c510fe.9b9eff","type":"ui_gauge","z":"94f91a1f.ebe0d","name":"","group":"539ac07a.3da428","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"","format":"{{value}}","min":"25","max":"100","colors":["#ff9500","#e6e600","#1e00ff"],"seg1":"","seg2":"","x":620,"y":1060,"wires":[]},{"id":"b6b33390.1998","type":"debug","z":"94f91a1f.ebe0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":470,"y":1180,"wires":[]},{"id":"62eb352e.7c115c","type":"debug","z":"94f91a1f.ebe0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":170,"y":440,"wires":[]},{"id":"43353b7d.19d264","type":"link out","z":"94f91a1f.ebe0d","d":true,"name":"","links":["87c764f9.d23bc8"],"x":415,"y":600,"wires":[]},{"id":"87c764f9.d23bc8","type":"link in","z":"94f91a1f.ebe0d","name":"","links":["43353b7d.19d264"],"x":1835,"y":680,"wires":[["2d0549ad.18f976","e5162760.46681"]]},{"id":"785f722d.13251c","type":"python-function","z":"94f91a1f.ebe0d","d":true,"name":"Noise Sample","func":"from enviroplus.noise import Noise\nimport json\n\nnoise = Noise()\n\n#Do the Thing\nlow, mid, high, amp = noise.get_noise_profile()\nlow *= 128\nmid *= 128\nhigh *= 128\namp *= 64\n\nx = {\n    \"low\":round(low),\n    \"mid\":round(mid),\n    \"high\":round(high),\n    \"amplitude\":round(amp)\n}\n\n# Convert to JSON: \ny = json.dumps (x)\n\n# Print Info\n#print (y)\n\nreturn y","outputs":1,"x":360,"y":1480,"wires":[["fdf2b747.b630f8"]]},{"id":"feed1b66.d1ec08","type":"inject","z":"94f91a1f.ebe0d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1480,"wires":[["785f722d.13251c"]]},{"id":"fdf2b747.b630f8","type":"debug","z":"94f91a1f.ebe0d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":1480,"wires":[]},{"id":"cbc971f8.e408","type":"mqtt-broker","name":"","broker":"rpi44gb","port":"1883","clientid":"rpi2white","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"68e519c5.988d7","type":"ui_group","name":"Weather Station","tab":"e54babbf.99fb88","order":1,"disp":true,"width":"24","collapse":false},{"id":"539ac07a.3da428","type":"ui_group","name":"Shed","tab":"e54babbf.99fb88","order":2,"disp":true,"width":"6","collapse":false},{"id":"e54babbf.99fb88","type":"ui_tab","name":"Weather Station","icon":"dashboard","disabled":false,"hidden":false}]